
/* ボックスサイズ */
*,
*::before,
*::after {
  box-sizing: border-box;
}


body,
h1, h2, h3, h4, h5, h6,
p, ul, ol, figure {
  margin: 0;
  padding: 0;
}


ul, ol {
  padding-left: 1.2em;
}


img {
  max-width: 100%;
  display: block;
}



html {
  scroll-behavior: smooth;
}


body {
  font-family: "Zen Maru Gothic", sans-serif;
  line-height: 1.6;
  background: #fff8f7;
  color: #333;
}



header {
  background: #fff;
  border-bottom: 1px solid #ddd;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: 0;
  z-index: 100;
}

.logo img {
  height: 50px;
  width: auto;
  display: block;
}

.menu-btn {
  display: none;
  background: none;
  border: none;
  font-size: 28px;
  color: #ef8dbe;
}


nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul :hover  {
  color: #ff4b78;
}

nav a {
  text-decoration: none;
  color: #ef8dbe;
  font-weight: bold;
}

section {
  max-width: 900px;
  margin: 60px auto;
  padding: 0 20px;
}

h2 {
  font-family: "Zen Maru Gothic", sans-serif;
  font-size: 25px;
  margin-bottom: 20px;
  text-align: center;
  scroll-margin-top: 80px;
}

footer {
  background: #ef8dbe;
  padding: 20px;
  text-align: center;
  margin-top: 60px;
}

/*　メイン　*/

.hero {
  max-width: none;
  position: relative;
  width: 100%;
  aspect-ratio: 100 / 40;
  background-size: cover;
  overflow: hidden;
}

.hero img {
  width: 100%;
  height: auto;
  display: block;
}

.hero h1 {
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  color: #ff7ea8;
  text-shadow: 2px 2px 6px rgba(255, 185, 185, 0.9),
                  -2px -2px 6px rgba(255, 185, 185, 0.9);
  position: absolute;
  left: 50px;
  top: 40%;
  transform: translateY(-50%);
  margin-bottom: 10px;
}

.section {
  max-width: 900px;
  margin: 80px auto;
  padding: 0 20px;
}


 .section-box {
  max-width: 800px;
  margin: 40px auto 40px auto;
  padding: 40px 20px;
}

.section-box p {
  font-size: 20px;
  max-width: 800px;
  margin: 30px auto;
  text-align: center;
  border-radius: 50px;
  background: #ffffff;
  padding: 40px 40px;
  margin-bottom: 30px;
}

.section-box h2 {
  font-size: 30px;
  font-weight: 600;
  color: #ff7ea8;
  margin-bottom: 20px;
}

.menu-box {
  background: #e8f8e8;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 4px 15px;
  text-align: center;
  margin-bottom: 30px;
}

.link-more a {
  font-size: 24px;
}

.staff-section {
  display: flex;
  align-items: center;
  gap: 30px;
  max-width: 900px;
  margin: 40px auto 40px auto;
  padding: 40px 20px;
}

.staff-image {
  width: 360px;
  height: 260px;
  overflow: hidden;
  flex-shrink: 0;
}

.staff-image img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  object-fit: cover;
}

.staff-text {
  flex: 1;
  
}

.staff-text h2 {
  font-size: 30px;
  color: #ff7ea8;
  margin-bottom: 15px;
}

.staff-text p {
  line-height: 1.8;
  font-size: 20px;
  color: #555;
  border-radius: 50px;
  background: #ffffff;
  padding: 40px 40px;
  margin-bottom: 30px;
}



.message {
  margin: 40px auto 40px auto;
  padding: 60px 30px;
}


.message h2 {
  font-size: 30px;
  color: #ff7ea8;
  margin-bottom: 15px
}

.message p {
  line-height: 1.8;
  font-size: 20px;
  color: #555;
  margin: 30px 0 30px 0;
}

.message .message-logo {
  width: 500px;
  height: 90px;
}

h3 {
  text-align: center;
  font-size: 30px;
  color: #309870;
}


/* 診察内容　*/
.page-title {
  max-width: none;
  text-align: center;
  background: #fdf1f6;
  padding: 60px 20px;
  margin-bottom: 50px;
}

.page-title h1 {
  font-size: 30px;
  color: #ff7ea8;
  margin: 0;
}

.page-title p {
  font-size: 20px;
}

.text h2 {
  display: inline-flex;
  align-items: center;
  border: 2px solid #a3a3a3;
  border-radius: 50px;
  background: #ffffff;
  padding: 12px 30px;
  margin-bottom: 30px;
}

.hos-section {
display: flex;
align-items: center;
gap: 40px;
max-width: 900px;
margin: 60px auto;
padding: 30px 30px;
}

.hos-section .image-wrap {
  width: 300px;
  height: 300px;
  flex-shrink: 0;
}

.hos-section .image-wrap img {
  width: 100%;
  height: 100%;
}

.hos-section.text {
  flex: 1;
}

.hos-section h2 {
  text-align: left;
  font-size: 25px;
  margin-bottom: 20px;
}

.hos-section p {
  font-size: 20px;
  line-height: 1.8;
}




/* 初めてご利用の方へ */

.first-visit {
  padding: 60px 20px;
  text-align: center;
}

.title-box {
  display: inline-flex;
  align-items: center;
  border: 2px solid #a3a3a3;
  border-radius: 50px;
  background: #fff;
  padding: 12px 30px;
  margin-bottom: 30px;
}

.title-box .icon {
  font-size: 28px;
  margin-right: 10px;
}

.title-box h1 {
  font-size: 30px;
  color: #ff7ea8;
  margin: 0;
}

.lead {
  font-size: 20px;
  margin-bottom: 30px;
  line-height: 1.8;
}

.flow-box {
  background: #fae9d7;
  padding: 30px 25px;
  border-radius: 10px;
  text-align: left;
  max-width: 650px;
  margin: 0 auto 30px auto;
}

.flow-box h2 {
  font-size: 25px;
  margin-bottom: 5px;
  color: #444;
  text-align: left;
}

.flow-box p {
  font-size: 20px;
  margin-bottom: 40px;
  line-height: 1.8;
}

.note {
  font-size: 20px;
  color: #444;
  line-height: 1.8;
}

@media (max-width: 768px) {
  .logo img {
    width: 100;
    height: 40px;
  }

  nav ul {
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
  }
  
  nav a {
    font-size: 12px;
    gap: 5px;
    padding: 0.6px;
  }

  .staff-section {
    flex-direction: column;
    text-align: center;
  }

  .hero img {
    width: 100%;
    height: 250px;
  }

  .hero h1 {
    font-size: 18px;
    line-height: 1.4;
  }

  section {
    margin: 40px auto;
    padding: 0 15px;
  }

  h2 {
    font-size: 22px;
    margin-bottom: 20px;
    margin-top: 40px;
  }

  p {
    font-size: 15px;
    line-height: 1.7;
  }

  .map {
    width: 90px;
    height: 250px;
  }
  .hos-section {
    flex-direction: column;
    text-align: center;
  }

  .hos-section .image-wrap {
    width: 230px;
    height: 230px;
  }

  .hos-section h2 {
    text-align: center;
  }

  
  .menu-btn {
    display: block;
    background: none;
    border: none;
    font-size: 32px;
    margin-right: 15px;
    z-index: 999;
  }

  nav.full-nav {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(255, 255, 255, 0.95);
    padding-top: 100px;
  }

  nav.full-nav ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-align: center;
    font-size: 22px;
  }

  nav.full-nav .open {
    display: block;
  }

  header nav ul {
    display: block;
  }

  
  nav {
    display: none;
    width: 100%;
    background: #fff;
    padding: 10px 0;
  }

  nav ul {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }

  
  nav.open {
    display: block;
  }

}


